@charset 'UTF-8';


/* @font-face {
    font-family: 'inter_normal'; 
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter_italic'; 
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
} */

:root{
    --cor01LightBlue: #E4EDF6;
    --cor02MediumBlue: #0e2352;
    --cor03DarkBlue: #0B2440;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

body{
    background-color: var(--cor01LightBlue);
}

.header{
    background-color: var(--cor02MediumBlue);
    padding: 1rem;

}

.nome{
    display: flex;
    align-items: end;
    justify-content: space-between;
    line-height: 3.2em;
    margin-left: 30px;
}

#primeiro-nome{
    font-size: 4rem;
    color: white;
    font-weight: 100;
    font-style: italic;
    
}
#sobrenome{
    font-size: 6rem;
    color: white;
    font-weight: 100;
    font-style: italic;
}

.profile-picture{
    border: 6px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 30px;
}

.menu{
    background-color: var(--cor03DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.menu a{
    color: var(--cor03DarkBlue);
    background-color: var(--cor01LightBlue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    padding: 8px;
}

main{
    max-width: 800px;
    min-width: 320;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 12px 12px;

}

