@charset 'UTF-8';


/* @font-face {
    font-family: 'inter_normal'; 
    src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter_italic'; 
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
} */

:root{
    --cor00LittleGrey: #ECECEC;
    --cor01LightBlue: #E4EDF6;
    --cor02MediumBlue: #0E2E52;
    --cor03DarkBlue: #0B2440;
    --cor04skyblue: #2B8AE9;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

body{
    background-color: var(--cor01LightBlue);
}


.header{
    background-color: var(--cor02MediumBlue);
    padding: 1rem;

}

.nome{
    display: flex;
    align-items: end;
    justify-content: space-between;
    line-height: 3.2em;
    margin-left: 30px;
}

#primeiro-nome{
    font-size: 4rem;
    color: white;
    font-weight: 100;
    font-style: italic;
    
}
#sobrenome{
    font-size: 6rem;
    color: white;
    font-weight: 100;
    font-style: italic;
}

.profile-picture{
    border: 6px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 30px;
}

.menu{
    background-color: var(--cor03DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.menu a{
    color: var(--cor03DarkBlue);
    background-color: var(--cor01LightBlue);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    padding: 8px;
}

.menu a.selected {
    background-color: var(--cor04skyblue);
    color: white;
}

main{
    max-width: 800px;
    min-width: 320;
    background-color: white;
    margin: auto auto 50px auto;
    padding: 15px 0px 15px 0px;
    border-radius: 0px 0px 12px 12px;
    padding-top: 20px;

}

main h1{
    color: var(--cor03DarkBlue);
    text-align: center;
    font-size: 5rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-style: italic;
    font-weight: 600;
    margin: 20px;



}

.redes-sociais{
    display: flex;
    justify-content: space-around;
    color: var(--cor03DarkBlue);
}

.redes-sociais a{
    background-color: var(--cor00LittleGrey);
    padding: 15px;
    border-radius: 15px;
}

.redes-sociais a img{
    max-width: 150px;
    max-width: 150px;
}

.mail-me{
    max-width: 600px;
    background-color: var(--cor03DarkBlue);
    color: white;
    margin: 50px auto;
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
}
.mail-me h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}


.form-mail {
    background-color: #19385B;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px; 
}

.form-mail div {
    display: flex;
    flex-direction: column;
}

.form-mail label {
    margin-bottom: 5px;
}

.form-mail input,
.form-mail textarea {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.form-mail textarea {
    min-height: 100px;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit button{
    background-color: var(--cor00LittleGrey);
    padding: 10px 20px;
    font-size: medium;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.submit button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.submit button:active {
    transform: scale(1);
    transition: transform 0.1s ease;
}


footer{
    background-color: var(--cor03DarkBlue);
    color: white;
    text-align: center;
    padding: 8px;
    
}

footer a{
    text-decoration: none;
    color: white;
}
